# Non-secret render inputs. Export matching variables; do not populate or commit this file.
ROTRACK_STAGING_AWS_REGION=__ROTRACK_STAGING_AWS_REGION__
ROTRACK_PRODUCTION_AWS_ACCOUNT_ID=__ROTRACK_PRODUCTION_AWS_ACCOUNT_ID__
ROTRACK_STAGING_AWS_EXECUTION_ROLE_ARN=__ROTRACK_STAGING_AWS_EXECUTION_ROLE_ARN__
ROTRACK_STAGING_AWS_TASK_ROLE_ARN=__ROTRACK_STAGING_AWS_TASK_ROLE_ARN__
ROTRACK_STAGING_BACKEND_IMAGE_URI=__ROTRACK_STAGING_BACKEND_IMAGE_URI__
ROTRACK_STAGING_DATABASE_URL_SECRET_ARN=__ROTRACK_STAGING_DATABASE_URL_SECRET_ARN__
ROTRACK_STAGING_DATABASE_USERNAME_SECRET_ARN=__ROTRACK_STAGING_DATABASE_USERNAME_SECRET_ARN__
ROTRACK_STAGING_DATABASE_PASSWORD_SECRET_ARN=__ROTRACK_STAGING_DATABASE_PASSWORD_SECRET_ARN__
ROTRACK_STAGING_DATABASE_CA_CERTIFICATE_PEM_SECRET_ARN=__ROTRACK_STAGING_DATABASE_CA_CERTIFICATE_PEM_SECRET_ARN__
ROTRACK_STAGING_SUPABASE_JWKS_URI_SECRET_ARN=__ROTRACK_STAGING_SUPABASE_JWKS_URI_SECRET_ARN__
ROTRACK_STAGING_SUPABASE_ISSUER_URI_SECRET_ARN=__ROTRACK_STAGING_SUPABASE_ISSUER_URI_SECRET_ARN__
ROTRACK_STAGING_FRONTEND_ORIGIN=__ROTRACK_STAGING_FRONTEND_ORIGIN__
ROTRACK_STAGING_API_ORIGIN=__ROTRACK_STAGING_API_ORIGIN__
ROTRACK_STAGING_SUPABASE_PROJECT_REF=__ROTRACK_STAGING_SUPABASE_PROJECT_REF__
ROTRACK_DEVELOPMENT_SUPABASE_PROJECT_REF=__ROTRACK_DEVELOPMENT_SUPABASE_PROJECT_REF__
ROTRACK_PRODUCTION_SUPABASE_PROJECT_REF=__ROTRACK_PRODUCTION_SUPABASE_PROJECT_REF__
ROTRACK_STAGING_ECS_CLUSTER_NAME=__ROTRACK_STAGING_ECS_CLUSTER_NAME__
ROTRACK_STAGING_ECS_SERVICE_NAME=__ROTRACK_STAGING_ECS_SERVICE_NAME__
ROTRACK_STAGING_ECS_TASK_FAMILY=__ROTRACK_STAGING_ECS_TASK_FAMILY__
ROTRACK_STAGING_ECS_DESIRED_TASK_COUNT=__ROTRACK_STAGING_ECS_DESIRED_TASK_COUNT__
ROTRACK_STAGING_ECS_MAX_TASK_COUNT=__ROTRACK_STAGING_ECS_MAX_TASK_COUNT__
ROTRACK_STAGING_DATABASE_MAXIMUM_POOL_SIZE=__ROTRACK_STAGING_DATABASE_MAXIMUM_POOL_SIZE__
ROTRACK_STAGING_DATABASE_CONNECTION_LIMIT=__ROTRACK_STAGING_DATABASE_CONNECTION_LIMIT__
ROTRACK_STAGING_DATABASE_RESERVED_CONNECTIONS=__ROTRACK_STAGING_DATABASE_RESERVED_CONNECTIONS__
ROTRACK_STAGING_ECS_SUBNET_IDS=__ROTRACK_STAGING_ECS_SUBNET_IDS__
ROTRACK_STAGING_ECS_SECURITY_GROUP_IDS=__ROTRACK_STAGING_ECS_SECURITY_GROUP_IDS__
ROTRACK_STAGING_ALB_TARGET_GROUP_ARN=__ROTRACK_STAGING_ALB_TARGET_GROUP_ARN__
ROTRACK_STAGING_VERCEL_TEAM_SLUG=__ROTRACK_STAGING_VERCEL_TEAM_SLUG__
ROTRACK_STAGING_VERCEL_PROJECT_NAME=__ROTRACK_STAGING_VERCEL_PROJECT_NAME__
ROTRACK_STAGING_VERCEL_ORG_ID=__ROTRACK_STAGING_VERCEL_ORG_ID__
ROTRACK_STAGING_VERCEL_PROJECT_ID=__ROTRACK_STAGING_VERCEL_PROJECT_ID__
ROTRACK_PRODUCTION_VERCEL_TEAM_SLUG=__ROTRACK_PRODUCTION_VERCEL_TEAM_SLUG__
ROTRACK_PRODUCTION_VERCEL_PROJECT_NAME=__ROTRACK_PRODUCTION_VERCEL_PROJECT_NAME__
ROTRACK_PRODUCTION_VERCEL_ORG_ID=__ROTRACK_PRODUCTION_VERCEL_ORG_ID__
ROTRACK_PRODUCTION_VERCEL_PROJECT_ID=__ROTRACK_PRODUCTION_VERCEL_PROJECT_ID__
